2.kestra-workshop/workflow-orchestration/flows/01_hello_world.yaml
id: 01_hello-world   #Workflow Id
namespace: zoomcamp  #Workflow Namespace 

#Note : Once the Id and the namespace has been defined, it cannot be edited(renamed),
#Only a new Worklfow Id ,Namespace can be created

# This is a simple workflow that demonstrates the basic features of Kestra.
# It takes a name as input, generates a welcome message, and logs it. It also demonstrates how to use variables, outputs, and concurrency.

#The input that is passed to the workflow during the execution.
inputs:
  - id: name
    type: STRING
    defaults: Deepak Narayan

#concurrency settings for the workflow, it will fail if more than 2 instances of this workflow are running at the same time
concurrency:
  behavior: FAIL
  limit: 2

#Setting up user defined variables that can be used across the workflow, in this case we are defining a welcome message that uses the input name.
#Here the variable name "welcome_message" is defined with a value that is a string type and it uses the input "name" to create a personalized welcome message. The variable can be rendered using the render function in the tasks.
variables:
  welcome_message: "Hello, {{ inputs.name }}!"

#Setting up Kestra Tasks, these are the individual steps that will be executed as part of the workflow. Each task has a unique id and a type that defines what kind of task it is. The tasks can also have inputs, outputs, and other configurations.
#Here the plugin used is the log Message plugin, which is used to log messages to the console. The first task logs the welcome message, the second task generates an output, the third task sleeps for 15 seconds, the fourth task logs the output generated by the second task, and the fifth task logs a goodbye message.
tasks:
  - id: hello_message
    type: io.kestra.plugin.core.log.Log
    message: "{{ render(vars.welcome_message) }}"

#Here the plugin used is the Return plugin, which is used to return a value from a task. The output of this task can be used in other tasks or as the final output of the workflow. In this case, it returns a string that says "I was generated during this workflow."
  - id: generate_output
    type: io.kestra.plugin.core.debug.Return
    format: I was generated during this workflow.

#Here the plugin used is the sleep plugin, which is used to pause the execution of the workflow for a specified duration. In this case, it will sleep for 15 seconds before proceeding to the next task. This can be useful for simulating long-running tasks or for adding delays between tasks.
  - id: sleep
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT15S

#Here the plugin used is the log Message plugin, which is used to log messages to the console. The first task logs the welcome message, the second task generates an output, the third task sleeps for 15 seconds, the fourth task logs the output generated by the second task, and the fifth task logs a goodbye message.

  - id: log_output
    type: io.kestra.plugin.core.log.Log
    message: "This is an output: {{ outputs.generate_output.value }}"

#Here the plugin used is the log Message plugin, which is used to log messages to the console. The first task logs the welcome message, the second task generates an output, the third task sleeps for 15 seconds, the fourth task logs the output generated by the second task, and the fifth task logs a goodbye message.

  - id: goodbye_message
    type: io.kestra.plugin.core.log.Log
    message: "Goodbye, {{ inputs.name }}!"

#Since we have used log plugin in multiple tasks, we can set the default log level for all log plugins in this workflow to ERROR, so that only error messages will be logged to the console. This can help reduce noise in the logs and make it easier to identify issues.
#The different log levels in Kestra are : WARN, ERROR, INFO, DEBUG, TRACE. By setting the log level to ERROR, only messages with a severity of ERROR or higher will be logged. This means that INFO and DEBUG messages will be ignored, while WARN and ERROR messages will be logged.
pluginDefaults:
  - type: io.kestra.plugin.core.log.Log
    values:
      level: ERROR

#Setup the Trigger for the Kestra Workflow (CRON Expression)
triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 10 * * *"
    inputs:
      name: Deepak Narayan
    disabled: true
