2.kestra-workshop/workflow-orchestration/flows/03_getting_started_with_data_pipeline.yaml
id: 03_getting_started_data_pipeline
namespace: zoomcamp

#Here the input is an array column with 2 different values ["brand","price"] being passed to the workflow.
inputs:
  - id: columns_to_keep
    type: ARRAY
    itemType: STRING
    defaults:
      - brand
      - price

#plugin used : http.Download plugin, which allows you to download files from a specified URI. In this case, it is used to download a JSON file containing product data from a dummy API. The downloaded file is stored in Kestra's storage and can be accessed in subsequent tasks using the outputs of this task.

tasks:
  - id: extract
    type: io.kestra.plugin.core.http.Download
    uri: https://dummyjson.com/products

#plugin used : python.Script plugin, which allows you to run Python code
#containerImage: python:3.11-alpine, which is a lightweight Python image based on Alpine Linux. This image is used to run the Python script in an isolated environment with Python 3.11 installed.
#inputFiles: This section specifies the input files for the Python script. In this case, it maps the downloaded JSON file from the previous task (outputs.extract.uri) to a local file named data.json that can be accessed within the container.
#outputFiles: This section specifies the output files that will be generated by the Python script. In this case, it indicates that any JSON files generated by the script (matching the pattern "*.json") should be treated as output files and made available for subsequent tasks.
#Both inputFiles and outputFiles will be stored in python:3.11-alpine container's filesystem, and Kestra will handle the transfer of these files between tasks as needed.
#env: This section defines environment variables that will be passed to the Python script. In this case, it sets an environment variable named COLUMNS_TO_KEEP with the value of the input columns_to_keep. The Python script can access this environment variable to determine which columns to keep when processing the data.
  - id: transform
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-alpine
    inputFiles:
      data.json: "{{outputs.extract.uri}}"
    outputFiles:
      - "*.json"
    env:
      COLUMNS_TO_KEEP: "{{inputs.columns_to_keep}}"
    script: |
      import json
      import os

      columns_to_keep_str = os.getenv("COLUMNS_TO_KEEP")
      columns_to_keep = json.loads(columns_to_keep_str)

      with open("data.json", "r") as file:
          data = json.load(file)

      filtered_data = [
          {column: product.get(column, "N/A") for column in columns_to_keep}
          for product in data["products"]
      ]

      with open("products.json", "w") as file:
          json.dump(filtered_data, file, indent=4)

#Here the plugin used is the DuckDbQueries plugin, which allows you to execute SQL queries against a specified data source. 
#In this case, it is configured to read the transformed JSON file (products.json) generated by the previous task and perform a SQL query to calculate the average price of products grouped by brand. The results of the query will be stored and can be accessed in subsequent tasks or as the final output of the workflow.

  - id: query
    type: io.kestra.plugin.jdbc.duckdb.Queries
    inputFiles:
      products.json: "{{outputs.transform.outputFiles['products.json']}}"
    sql: |
      INSTALL json;
      LOAD json;
      SELECT brand, round(avg(price), 2) as avg_price
      FROM read_json_auto('{{workingDir}}/products.json')
      GROUP BY brand
      ORDER BY avg_price DESC;
    fetchType: STORE